<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mini e-wallet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><%= link_to  "CRUD USER", users_path %></li> 
                <li><%= link_to  "CRUD BANK", banks_path %></li> 
                <li><%= link_to  "USER BALANCE", user_balance_path %></li> 
                <!-- <li><a href="#">TOP UP</a></li>
                <li><a href="#">TRANSFER</a></li>  -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        User <%= current_user.username %><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to  "Profile", profile_path, method: :get %></li>
                        <li><%= link_to  "Log out", logout_path, method: :delete %></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
    </nav>